<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967745634778-7l3vqthjm8mk51gl57oojnlos0kma87o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967745634778-7l3vqthjm8mk51gl57oojnlos0kma87o</string>
	<key>API_KEY</key>
	<string>AIzaSyAq4czmH2HcLkAlv3Or3JV6JJ8dCbkFDUE</string>
	<key>GCM_SENDER_ID</key>
	<string>967745634778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felipezeba.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-aa497</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-aa497.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967745634778:ios:4f9d37e3c4badeba5440e3</string>
</dict>
</plist>